@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

.containers {
  width: 75%;
  margin: 20px auto;
}

.carousel {
  position: relative;
  height: auto;
}

.carousel-indicators {
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  .carousel-indicators {
    transform: translateX(-475px);
  }
}

.carousel-indicators button {
  position: relative;
  width: 20px;
  height: 3px;
  margin: 0 1px;
  border: none;
  background-color: #bbb;
  transition: background-color 0.3s ease;
}

.carousel-indicators button.active,
.carousel-indicators button:hover {
  background-color: #82B965;
}


.carousel-item {
  position: relative;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  margin: 0 0 10px 0;
}

.carousel-button {
  position: absolute;
  top: 15px;
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #0099CC;
  cursor: pointer;
  transition: 0.5s;
}

.carousel-button-prev {
  right: 40px;
}

.carousel-button-next {
  right: 0;
}

.carousel-button:hover {
  color: #82B965;
}

.post-meta {
  position: relative;
  margin: 10px 0;
  display: flex;
  text-transform: uppercase;
}

.post-category {
  margin: 0 3px 0 0;
  letter-spacing: 1px;
  font-size: 13px;
  font-family: 'Titillium Web', Arial, sans-serif;
}

.post-category a {
  text-decoration: none;
  border: none;
  color: #21add1;
}

.post-date {
  font-size: 13px;
  text-decoration: none;
  border: none;
  color: #bbbbbb;
}

.post-list {
  margin: 0 auto;
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-card-list {
  margin: 0 20px;
}

.post-card-list img {
  width: 300px;
  height: 150px;
  margin: 0 0 10px 0;
  transition: opacity 1s ease;
  cursor: pointer;
}

.post-card-list img:hover {
  filter: brightness(110%);
  transition: 0.5s ease;

}

.post-card-content {
  text-transform: uppercase;
  font-family: 'Titillium Web', Arial, sans-serif;
  margin: 0 0 50px 0;
}

.post-card-content p {
  color: #bbbbbb;
  font-size: 13px;
  margin: 0;
}

.post-card-content p a {
  text-decoration: none;
  font-size: 15px;
  color: #21add1;
  text-transform: capitalize;
}

.post-card-content p a:hover {
  text-decoration: underline;
}